
.roomDetailsPage {
  header {
    border-bottom: 1px solid #e2e2e2;
    padding: 24px;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      max-width: 1120px;
      margin: 0 auto;
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .title {
      display: flex;
      align-items: center;
      margin: 32px 0 24px;

      h1 {
        color: #29292e;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
      }

      span {
        margin-left: 16px;
        border-radius: 9999px;
        background: #e559f9;
        padding: 8px 16px;

        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }
    }

    form {
      textarea {
        width: 100%;
        min-height: 130px;

        border: 0;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        background: #fefefe;
        padding: 16px;

        resize: vertical;
      }

      .formFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .userInfo {
          display: flex;
          align-items: center;

          img {
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-size: 14px;
            font-weight: 500;
          }
        }

        > span {
          color: #737380;
          font-size: 14px;
          font-weight: 500;

          button {
            margin-left: 4px;
            border: 0;
            background: transparent;

            color: #8354fd;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;

            cursor: pointer;
          }
        }
      }
    }

    .questionsList {
      margin-top: 32px;

      button {
        border: 0;
        background: transparent;
        cursor: pointer;

        &:hover {
          filter: brightness(0.6);
        }

        &.likeButton {
          display: flex;
          align-items: flex-end;
          gap: 8px;
          color: #737380;

          &.liked {
            color: #835afd;

            svg, path {
              stroke: #835afd;
            }
          }
        }
      }
    }
  }
}
